*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}

h1{
  font-size: 3rem;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

h5{
  text-transform: capitalize;
  display: inline-block;
  margin: 0.75rem
}

ul {
  list-style-type: none;
}

.question-visibility{
  visibility: hidden;
}

.question{
  margin: .5rem;
}
